* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
}
  


footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.copyright {
    color: white;
}




/*--------bootstrap-navbar-css---------*/


.bi-calendar-heart::before {
    content: "\F710";
}

.navbar-mainbg {
    background-color: #3586ff;
    padding: 5px;
}

.nav-item a {
    font-size: 18px;
    margin-right: 10px;
}